@CHARSET "ISO-8859-1";

.wrapper{
	margin-left: auto;
	margin-right: auto;
	width: 750px;
}

table {
	border-collapse: collapse;
	margin: 10px;
}

table,th,td {
	border: 1px solid black;
	text-align: center;
	padding: 5px;
}